lightning_logs/version_0/events.out.tfevents.1712768327.thinkingfacemac.lan.35210.0
lightning_logs/version_0/hparams.yaml
lightning_logs/version_1/events.out.tfevents.1712768333.thinkingfacemac.lan.35210.1
lightning_logs/version_1/hparams.yaml
lightning_logs/version_2/events.out.tfevents.1712768333.thinkingfacemac.lan.35210.2
lightning_logs/version_2/hparams.yaml
lightning_logs/version_3/events.out.tfevents.1712768339.thinkingfacemac.lan.35210.3
lightning_logs/version_3/hparams.yaml
lightning_logs/version_4/events.out.tfevents.1712768339.thinkingfacemac.lan.35210.4
lightning_logs/version_4/hparams.yaml
lightning_logs/version_5/events.out.tfevents.1712768532.thinkingfacemac.lan.35210.5
lightning_logs/version_5/hparams.yaml
