lightning_logs/version_0/events.out.tfevents.1712768327.thinkingfacemac.lan.35210.0
lightning_logs/version_0/hparams.yaml
lightning_logs/version_1/events.out.tfevents.1712768333.thinkingfacemac.lan.35210.1
lightning_logs/version_1/hparams.yaml
lightning_logs/version_2/events.out.tfevents.1712768333.thinkingfacemac.lan.35210.2
lightning_logs/version_2/hparams.yaml
lightning_logs/version_3/events.out.tfevents.1712768339.thinkingfacemac.lan.35210.3
lightning_logs/version_3/hparams.yaml
lightning_logs/version_4/events.out.tfevents.1712768339.thinkingfacemac.lan.35210.4
lightning_logs/version_4/hparams.yaml
lightning_logs/version_5/events.out.tfevents.1712768532.thinkingfacemac.lan.35210.5
lightning_logs/version_5/hparams.yaml
lightning_logs/version_10/events.out.tfevents.1712836908.thinkingfacemac.lan.32332.4
lightning_logs/version_10/hparams.yaml
lightning_logs/version_11/events.out.tfevents.1712836959.thinkingfacemac.lan.32332.5
lightning_logs/version_11/hparams.yaml
lightning_logs/version_6/events.out.tfevents.1712836906.thinkingfacemac.lan.32332.0
lightning_logs/version_6/hparams.yaml
lightning_logs/version_7/events.out.tfevents.1712836907.thinkingfacemac.lan.32332.1
lightning_logs/version_7/hparams.yaml
lightning_logs/version_8/events.out.tfevents.1712836907.thinkingfacemac.lan.32332.2
lightning_logs/version_8/hparams.yaml
lightning_logs/version_9/events.out.tfevents.1712836908.thinkingfacemac.lan.32332.3
lightning_logs/version_9/hparams.yaml
data/timegpt_api_key.txt
lightning_logs/version_12/events.out.tfevents.1712840270.thinkingfacemac.lan.37117.0
lightning_logs/version_12/hparams.yaml
lightning_logs/version_13/events.out.tfevents.1712840275.thinkingfacemac.lan.37117.1
lightning_logs/version_13/hparams.yaml
lightning_logs/version_14/events.out.tfevents.1712840275.thinkingfacemac.lan.37117.2
lightning_logs/version_14/hparams.yaml
lightning_logs/version_15/events.out.tfevents.1712840281.thinkingfacemac.lan.37117.3
lightning_logs/version_15/hparams.yaml
